@model OrgChart.Models.Employee

    <h1 >
        @Html.DisplayFor(model => model.Name)
    </h1>

    <p>
        @Html.DisplayFor(model => model.Role)
    </p>

    <p>
        @Html.DisplayFor(model => model.WorkLocation)
    </p>

    <p>
        @Html.DisplayFor(model => model.DepartmentName)
    </p>
    @if (Model.Reporties != 0)
    {
        <p class="bottom-right" data-id="@Model.Id">
            @Html.DisplayFor(model => model.Reporties)
        </p>
    }
    @Html.HiddenFor(model=>model.Id)



