@model OrgChart.Models.Employee

<div class="form-inline">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reporties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reporties)
        </dd>

    </dl>
</div>
