<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container m-0 max100">
            <img src="~/Images/Logo.png" />
            @Html.ActionLink("Hierarchy Chart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">

                </div>
            </div>

            <div class="form-inline mt-2 mt-md-0">
                <input id="searchTerm" type="text" name="searchTerm" class="form-control mr-2" action="@Url.Action("Index")" data-orgchart-ajax="true" data-orgchart-target="#chart-container" data-orgchart-autocomplet1="@Url.Action("Autocomplet")" placeholder="Search By Name" />
                <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                <div id="test" class="scrollbar scrollbar-primary">

                </div>
            </div>
            @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>*@
        </div>
    </nav>
    @RenderBody()
    @*<div class="container body-content">

        <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
    </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
